/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(65, 65, 65, 0.87);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ecb9b9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  /* Background */

  body, html {
    height: 100%;
    margin: auto 0;
  }
  
  body { 
    /* The image used */
    background-image: url("pics/desert_bckg.png");
    
  
    /* Full height */
    height: 100%; 
    width: 100%;
  
    /* Autofill screen */
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  